<form>

  <fieldset>
    <legend style="color:black;font-weight:bold;">Sesson information</legend>
    <mat-form-field appearance="outline">
      <mat-label>Session Name</mat-label>
      <input matInput placeholder="Session Name">

      <mat-hint>Session Name</mat-hint>
    </mat-form-field>
  </fieldset>
  <br />
  <fieldset>
    <legend style="color:black;font-weight:bold;">Server information</legend>
    <mat-form-field appearance="outline">
      <mat-label>Endpoint URL</mat-label>
      <input matInput placeholder="Endpoint URL">

      <mat-hint>Endpoint URL</mat-hint>
    </mat-form-field>
    </fieldset>
    <br />


<div style="display: flex;">

  <div style="flex-direction: column;">
    <fieldset style="width: 150px;">
      <legend style="color:black;font-weight:bold;">Transport Protocol</legend>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="tcp">Opc.tcp</mat-radio-button><br/>
        <mat-radio-button value="https">Https</mat-radio-button>
      </mat-radio-group>
      
    </fieldset>
    <fieldset style="width: 150px;height: 100px;">
      <legend style="color:black;font-weight:bold;">Security Mode</legend>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="none">None</mat-radio-button><br/>
        <mat-radio-button value="sign">Sign</mat-radio-button><br/>
        <mat-radio-button value="signencrypt">Sign_Encrypt</mat-radio-button>
      </mat-radio-group>
      
    </fieldset>
  
  </div>

   <div style="flex-direction: column;">
 
    <fieldset>
      <legend style="color:black;font-weight:bold;">Message Encoding</legend>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="binary">Binary</mat-radio-button><br/>
        <mat-radio-button value="xml">Xml</mat-radio-button>
      </mat-radio-group>
      
    </fieldset>

    <fieldset>
      <legend style="color:black;font-weight:bold;">Security Policy</legend>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="none">None</mat-radio-button><br/>
        <mat-radio-button value="basic128RSA15">Basic128RSA15</mat-radio-button><br/>
        <mat-radio-button value="basic256">Basic256</mat-radio-button><br/>
        <mat-radio-button value="basic256Sha256">Basic256Sha256</mat-radio-button>
      </mat-radio-group>
      
    </fieldset>


  </div>
  </div>
<br/>
    <fieldset>
      <legend style="color:black;font-weight:bold;">User Authentification Mode</legend>

      <mat-radio-group aria-label="Select an option" [(ngModel)]="selecteditemUA" (ngModelChange)="onChangeUA($event)" name="MODBUS">
        <mat-radio-button  style="padding-right: 30px;" value="anonymous">Anonymous</mat-radio-button> 
        <mat-radio-button style="padding-right: 30px;" value="username">Username</mat-radio-button>
        <mat-radio-button value="certificate">Certificate</mat-radio-button>
        
      </mat-radio-group>
<br/>
<br/>

<div  >
<div [hidden]=Certificate>
      <mat-form-field appearance="outline" >
        <mat-label>Certificate(.pfx)</mat-label>
        <input matInput placeholder="Certificate(.pfx)" [disabled]=IsDisabledUA >
  
        <mat-hint>Certificate(.pfx)</mat-hint>
      </mat-form-field>

    </div>

    <div  [hidden]=User>
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Name" [disabled]=IsDisabledUA>
  
        <mat-hint>User Name</mat-hint>
      </mat-form-field>

    </div>
  </div>

      <br/>
      <mat-form-field >
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [disabled]=IsDisabledUA>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </fieldset>


</form>
